:root {
  --mainBackground: white;
}

.main-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBackground);
  margin: 25px;
}
